.accordion {
    .header {
        cursor: pointer;
    }

    .content {
        display: none;

        &.active {
            display: block;
        }
    }

    .menu {
        display: none;

        &.active {
            display: block;
        }
    }

    .block {
        border-bottom: 1px solid #ededed;
    }
}
