.ui.statistic {
    .label {
        font-size: 18px;
        margin-bottom: 16px;
        @media only screen and (max-width: 767px) {
            font-size: 16px;
        }
    }

    .value {
        font-family: "微软雅黑";
        font-size: 36px;
        color: rgba(0, 0, 0, 0.75);

        span {
            font-size: 18px;
            @media only screen and(max-width: 767px) {
                font-size: 24px;
            }
        }
    }
}
